label{
  display: block;
  font-family: "IBM Plex Mono";
  font-weight: bold;
  margin: 0px 0 5px 0;
}
input{
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  font-size: 1em;
  box-sizing: border-box;
}
input::placeholder{
  color: rgba(0,0,0,.2);
}
